* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 30px;

}

.landing {
    min-height: 100%;
    position: relative;
    background-image: linear-gradient(to right, #3FDE7A, #4C9290);

}

.landing__nav {
    height: 4rem;
    position: relative;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    background-color: black;

}

/*the logo to the left*/
.landing__nav--logo {

    left: 2rem;
    top: 0.5rem;
    position: fixed;
    z-index: 2;

}

/* the list styling section for the landing page*/
.landing__nav--list {

    right: 3rem;
    top: 0.5rem;
    position: fixed;


}

.links>li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.links>li>a {
    text-decoration: none;
    color: #fffeff;
    opacity: 90%;
    padding: 0.5rem;
}

.link1:hover,
.link2:hover,
.link3:hover,
.link4:hover,
.link5:hover,
.link6:hover {
    opacity: 60%;
}

#link-end {
    background-color: white;
    color: black;
}

#link-end:hover {
    background-color: grey;
    transform: scale(1.5);
    opacity: 60%;
}

/*The styling of the body i.e the text to the side and the image of the headset*/
.landing__body {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.landing__body--left {
    padding: 2.5rem;
    max-width: 50%;
}

.landing__heading {
    padding-top: 4rem;
    color: #fff;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: .5px;
    margin-bottom: 2rem;
}

.landing__heading2 {
    color: #fff;
    font-size: 1.3rem;
    text-align: justify;
}

/*The link buttons add the bottom of the texts*/
.landing__heading2--link {
    text-decoration: none;
    color: black;
    opacity: 90%;
    padding: .8rem 1.5rem .8rem 1.5rem;
    margin-right: 10px;
    background-color: #fffeff;
    border-radius: 70px;
    font-size: 0.75rem;
}

.landing__heading2--link1 {
    text-decoration: none;
    color: white;
    opacity: 90%;
    padding: .8rem 1.5rem .8rem 1.5rem;
    margin-left: 10px;
    background-color: transparent;
    border-radius: 70px;
    border: 1px solid #fff;
    font-size: 0.75rem;
}

.landing__heading2--link1:hover {
    opacity: 60%;
}

/*Link buttons end here*/
.landing__body--right {
    padding-top: 5rem;
    text-align: center;
    max-width: 50%;
}

.landing__image {
    height: 40rem;
}

/*styling for the main body section i.e section_2*/
.section__2 {
    background-color: #fff;
    position: relative;
}

.main__body {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main__body--left {
    padding: .5rem;
    max-width: 50%;
}

.main__body--right {
    padding-top: 5rem;
    text-align: center;
    max-width: 50%;
}

/*The text at the second section*/
.body__heading {
    padding-top: 4rem;
    color: black;
    text-align: justify;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
}

.body__heading2 {
    color: darkgrey;
    font-size: .9rem;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

#body__heading2--big {
    font-size: 1.3rem;
    line-height: 1.7rem;
}

#body__heading2--small {
    line-height: 1.4rem;
}

.body__heading2--link {
    text-decoration: none;
    color: #3B95F5;
    opacity: 90%;
    padding: .8rem 2rem .8rem 2rem;
    margin-right: 10px;
    background-color: #fffeff;
    border-radius: 70px;
    border: 2px solid #3B95F5;
    font-size: 0.75rem;
}

.headphone__images {
    display: flex;
    max-width: 100vw;
}

.headphone__images1,
.headphone__images2,
.headphone__images3 {
    display: flex;
}

.image__icons {
    object-fit: cover;
    width: 32.9vw;
    max-height: 30vw;
}

.image__icons:hover {
    cursor: crosshair;
}

.section3 {
    background-color: #fff;
    position: relative;
}

.section3__body {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.section3__body--left {
    padding-top: 3rem;
    max-width: 50%;
}

.section3__body--right {
    text-align: center;
    max-width: 50%;
    margin-top: -3rem;
}

/*The section four that lists the benefits of the headphones*/

.section4 {
    min-height: 100%;
    position: relative;
    background-image: linear-gradient(to right, #2AE0F5 60%, #3CDC6E);

}

.section4__body {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.section4__body--left {
    padding: 2.5rem;
    max-width: 50%;
}

.section4__body--right {
    padding-top: 5rem;
    text-align: center;
    max-width: 50%;
}

.section4__body--image {
    height: 40rem;
}

.benefits {
    margin-top: 5rem;
}

.benefits__items {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: justify;
}

#benefits__items--text {
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

/*The section that contain headsets of different colors viewed from the side view*/
.section5 {
    background-color: white;
    text-align: center;
}

.section5__body {
    display: flex;
    width: 100%;
    top: 0;
    padding-left: 9.7rem;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
}

.colors__header,
.colors__paragraph {
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.colors__header {

    margin-top: 10rem;
    font-weight: 700;
}

.colors__paragraph {
    font-size: 1rem;
    text-transform: lowercase;
    margin: 1.5rem 0 1.5rem 0;
    text-align: center;


}

.colors__image {
    height: 60vh;
    width: 20vw;

}

/*The section with the brown background images*/
.section6 {
    background-image: url(images/fitness-about-bg.jpg);
    height: 67vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.design {
    position: absolute;
    width: 34rem;
    height: 100%;
    background-color: #A78A73;
    left: 14rem;
    font-family: 'Roboto', sans-serif;
}

.design__header,
.design__header2 {
    color: #fffeff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: lighter;
}

.design__header2 {
    margin-top: 2rem;
    font-size: 1.3rem;
}

.design__text {
    color: white;
    font-size: 1.1rem;
    margin-top: 3rem;
    text-align: center;
    font-family: inherit;
}

.section7 {
    height: 75vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section8 {
    background-image: url(images/hero-bg40.jpg);
    background-size: cover;
    height: 75vh;
}

.section8__design--header {
    color: #4C443F;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    padding-top: 14rem;
    margin-left: 16rem;
    font-size: 5rem;
    font-weight: 600;
}

/*The section that holds the reviews from 4 users*/

.review__parent {
    height: 40vh;
    max-height: 40vh;
}

.review__parent1 {
    display: flex;
    margin-bottom: 0;
    padding-top: 5rem;
}

.reviews1 {
    background-color: transparent;
    flex: 1;
    height: 10rem;
    margin-right: -3rem;
    display: flex;
}

.comment{
    width: 30rem;
    padding-left: 20px;
    
}
.person__image1 {
    border-radius: 50%;
    margin-left: 7rem;
    height: 7rem;
}

.comment1 {
    font-size: 1rem;
    color: #514E4E;
    opacity: 80%;
    text-align: justify;
}

.reviews2 {
    background-color:transparent;
    flex: 1;
    height: 10rem;
    display: flex;
}
.person__image2{
    border-radius: 50%;
    height: 7rem;
    padding-left: 2.5rem;
    
}

.review__parent2 {
    display: flex;
    margin-top:-6rem;
    padding-bottom: 5remss;
}

.reviews3 {
    background-color: transparent;
    flex: 1;
    height: 10rem;
    margin-right: -3rem;
    display: flex;
}

.reviews4 {
    background-color: transparent;
    flex: 1;
    height: 10rem;
    display: flex;
}
/*The class for the span that used on the name of the users*/
.name{
    color: black;
    font-weight: bold;
}
.formsection{
    height:20vh;
    max-height: 20vh;
    width: 100%;
    /*background-image: linear-gradient(to right,#47DF84, #56CB66);*/
    background-color: #47DF84;
    display: flex;
}
.formsection__text,.formsection__form{
    height: 20vh;
    width: 50%;
    background-color: transparent;    
    display: flex;
    justify-content: center;
    align-items: center;
}
#formtext{
    color:white;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
    margin-left:8rem;
}
/*styling for the form element under the review section*/
.review__form>input{
    width:25rem;
    height: 4rem;
    border: 1px solid #4EB05B;
    border-radius: 3%;
    padding-left:3rem;
    opacity: 80%;
}

/*The section with the pods and their pricings*/
.section10__body {
    display: flex;
    width: 100%;
    top: 0;
    padding-left: 9.7rem;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    margin-top: 5rem;
    justify-content: space-evenly;
}
.section10__body1{
    margin-left:10rem;
}
.product__image {
    height: 80%;
    width: 50%;
    object-fit: cover;
    margin-left: 20px;;

}
.product__image--textspace{
    height: 20vh;
    background-color:transparent;
    width: 15vw;
}
.product__image--text{
    font-size: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    line-height: 1.2rem;
    color: grey;
    
}
.text2{
    opacity: 0.7;
}
.buy__now{
    text-decoration: none;
    border: 2px solid #3B95F5;;
    padding: 5px 15px;
    border-radius: 30px;
    color: #3B95F5;
    font-size: 15px;
}
.figures{
    font-weight: 700;
    color:#2C2D2F;
}
.footersection{
    width: 100%;
    height: 45vh;
    background-color:#f6f6f6 ;
}
.footersection__main{
    width: 100%;
    height: 30vh;
    background-color: #f6f6f6;
    margin-top: 5rem;
    padding-top: 4rem;
    display:flex;
    justify-content: space-evenly;
    
}
.footersection1>p{
    font-size: 1rem;
    color:grey;
    line-height: 2rem;
}
.smicons{
    text-decoration: none;
    color:grey;
    font-size: 2px;
}
.footersection5{
    font-size: 0.8rem;
    line-height:2rem;
    color:grey;
}
.footerlist{
    list-style: none;
    font-size: 0.8rem;
    line-height: 2rem;
    color: grey;
}

.list_header{
    font-weight: 600;
    color: #2C2D2F;
}
.Newsletter{
    font-weight: 600;
    color: #2C2D2F;
}
.Newsletter__form>input{
    width:15rem;
    height: 2rem;
    border: 1px solid #4A4C4E;
    border-radius: 1px;
    padding-left:1rem;  
    margin-top: 1rem;
    opacity: 80%;
    font-size: 12px;
}
.footersection>hr{
    height: 2px;
    width: 70%;
    margin: auto;
    opacity: 30%;
}
.footersection>p{
    font-size: 1rem;
    color: grey;
    text-align: center;
    padding-top: 2.5rem;
}
.footerlink{
    text-decoration: none;
    color:grey;
}


/*Media queries*/
@media screen and (769px<= width <=1024px) {
    .landing__heading{
        font-size: 3rem;
    }
    .landing__heading2{
        font-size:1.5rem;
    }
    .landing__image{
        height: 35rem;
        width:30rem;
    }
    .landing__body--left{
        min-width: 30%;
    }
    .landing__nav--list{
        right:3rem;
        font-size: 1rem;
        display: flex;
        visibility: hidden;
    }
    .landing__heading2--link,.landing__heading2--link1{
        text-decoration: none;
        color: black;
        opacity: 90%;
        padding: .8rem 1.5rem .8rem 1.5rem;
        margin-right: 5px;
        background-color: #fffeff;
        border-radius: 70px;
        font-size: 0.8rem;
        flex-wrap: wrap;
    }
    .main__body--left{
        font-size: 2rem;
    }
    .landing__image{
        height: 35rem;
        width:30rem;
    }
    .section3__body{
        display:block;
        width: max-content;
    }
    .section3__body--left{
        width:100%;
        justify-content: center;
    }
    .section3__body--right{
        width: 100%;
    }
}

/*Media screen width for ipads and tablet mobile devices*/
/*-------------------------------------------------------*/

@media screen and (481px<= width <=768px) {
    .landing__heading{
        font-size: 2.5rem;
        
    }
    .landing__heading2{
        font-size:1.2rem;
        
    }
    .landing__image{
        height: 30rem;
        width:25rem;
        z-index: -1;
    }
    .landing__body--left{
        min-width: 30%;
        
    }
    .landing__nav--list{
        right:3rem;
        font-size: 1rem;
        display: flex;
        visibility: hidden;
    }
    .landing__heading2--link,.landing__heading2--link1{
        text-decoration: none;
        color: black;
        opacity: 90%;
        padding: .8rem 1.5rem .8rem 1.5rem;
        margin-right: 5px;
        background-color: #fffeff;
        border-radius: 70px;
        font-size: 0.5rem;
        flex-wrap: wrap;
    }
    .main__body--left{
        font-size: 1.5rem;
    }
    .body__heading2{
        font-size: 0.5rem;
    }
    .landing__image{
        height: 30rem;
        width:25rem;
    }
}


/*Media screen width for portable mobile phones/devices*/
/*-------------------------------------------------------*/

@media screen and (320px <= width <=480px) {
    .landing__heading{
        font-size: 2.5rem; 
    }
    .landing__heading2{
        font-size:1.5rem;
    }
    .landing__image{
        height: 30rem;
        width:25rem;
        z-index: -1;
        padding-right: 30px;
    }
    .landing__body--right{
        padding-right: 10px;
    }
    .landing__body--left{
        min-width: 30%;
    }
    .landing__nav--list{
        right:3rem;
        font-size: 1rem;
        display: flex;
        visibility: hidden;
    }
    .landing__heading2--link,.landing__heading2--link1{
        text-decoration: none;
        color: black;
        opacity: 90%;
        padding: .8rem 1.5rem .8rem 1.5rem;
        margin-right: 5px;
        background-color: #fffeff;
        border-radius: 70px;
        font-size: 0.5rem;
        flex-wrap: wrap;
    }
    .main__body--left{
        font-size: 1rem;
    }
    .body__heading2{
        font-size: 0.5rem;
    }
    .landing__image{
        height: 30rem;
        width:25rem;
    }
}
